body {
    background-color: #dbe5e5;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2332c79f' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    width: 900px;
    margin: 0 auto;
}

.kindle {
    width: 700px;
    height: 870px;
    background: #1d1d1d;
    border-radius: 12px;
    box-shadow: inset 0px 0 0px 15px #111;
    padding: 2rem;
    margin: 0 auto;
    color: rgb(20, 20, 20);
    overflow: hidden;
}
.screen {
    margin: 0 auto;
    background: #deddca;
    height: 760px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    font-family: monospace;
}
.kindle h2 {
    text-align: center;
    color: #eee;
}
.kindle .header {
    position: absolute;
    background: #d1d1c7;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
a {
    color: rgb(20, 20, 20);
    text-decoration: none;
}
.screen_content {
    margin-top: 2rem;
}